---
import Layout from "../layouts/Layout.astro";
---

<Layout uid="contact">
  <div class="content contact">
    <div class="section-tag" data-motion-text="true" data-motion-text-split="words" data-motion-text-duration="0.8">
      GET IN TOUCH
    </div>
    
    <h1
      class="title section-title"
      data-motion-text="true"
      data-motion-text-split="chars"
      data-motion-text-duration="0.8"
    >
      CONNECT
    </h1>
    
    <div class="contact-details">
      <div class="contact-item">
        <span>NEW BUSINESS</span>
        <h3><a href="mailto:hello@scriptly.store" class="contact-email">hello@scriptly.store</a></h3>
      </div>
      <div class="contact-item">
        <span>SOCIAL DIRECTORY</span>
        <div class="social-links">
          <a href="https://github.com/sh20raj" target="_blank" class="social-link">Github</a>
          <a href="https://scriptly.store/" target="_blank" class="social-link">Store</a>
          <a href="https://scriptly.store/" target="_blank" class="social-link">LinkedIn</a>
          <a href="https://scriptly.store/" target="_blank" class="social-link">X.com</a>
        </div>
      </div>
      <div class="contact-item">
        <span>STUDIO LOCATION</span>
        <h3>DELHI, NCR, INDIA</h3>
      </div>
    </div>
  </div>
</Layout>
