<header class="frame">
  <div class="frame__brand">
    <a href="/" class="frame__logo">VORTEX</a>
    <span class="frame__status">
      <span class="status-dot"></span> Available for Hire
    </span>
  </div>
  <div class="frame__actions">
    <a class="frame__link" href="https://github.com/sh20raj" target="_blank">Github</a>
    <a class="frame__link highlight" href="https://scriptly.store/" target="_blank">Get Template</a>
  </div>
</header>