<nav class="nav">
  <a href="/" class="nav__link">Home</a>
  <a href="/about" class="nav__link">Profile</a>
  <a href="/works" class="nav__link">Showcase</a>
  <a href="/team" class="nav__link">Crew</a>
  <a href="/archive" class="nav__link">Awards</a>
  <a href="/contact" class="nav__link">Connect</a>
</nav>
